<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @user.username %></h1>
<p>
  We would just like to say welcome aboard!
</p>
<p>
  Nice one!
</p>

</body>
</html>